body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #4facfe, #199999);
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  padding: 30px;
  width: 320px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  text-align: center;
}

h1 {
  color: rgb(186, 53, 53);
  font-size: 50px;
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

input:focus {
  outline: none;
  border-color: #4facfe;
}

button {
  margin-top: 15px;
  padding: 10px;
  border: none;
  background: #4facfe;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #00c6ff;
}

.switch {
  margin-top: 15px;
}

.switch span {
  color: #4facfe;
  cursor: pointer;
  font-weight: bold;
}